<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="2.0.8" targetFramework="net452" />
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="9.0.2.4" targetFramework="net452" />
  <package id="Microsoft.CrmSdk.CoreTools" version="9.0.2.4" targetFramework="net452" />
  <package id="NuGet.PackagerCrmSdk" version="7.0.0.3523" targetFramework="net452" />
  <package id="spkl" version="1.0.226" targetFramework="net452" />
</packages>